/* your code here */

.content{
	background-color:black;
}
.logo_name{
	color:white;
}
.top{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

.link-boxes{
	color:white;
}

.bottom-details{
	background-color:grey;
}
.media-icons{
	display:flex;
	flex-direction:row;
}

.link-boxes{
	display:flex;
	flex-direction:row;
}
